.main {
    &-container {
        // width: 1140px;
        // background: #F5F5DC;
        // height: 520px;
        margin: 20px;
    }

    &-header {
        margin-left: 30px;
        font-family: cursive;
        // color: #DFBB9D;
    }
    &-body{
        margin-top: 20px;
    }
}