.main {
    &-container {
        // width: 1140px;
        // background: #F5F5DC;
        // height: 520px;
        margin: 20px;
    }

    &-header {
        margin-left: 30px;
        // font-family: Sweet Sans !important;
        font-family: cursive;
        letter-spacing: 3px;
    }

    &-body {
        margin-top: 20px;
    }
}